<template>
    <div>
        <md-dialog :md-click-outside-to-close="false" md-open-from="#custom" md-close-to="#custom" ref="dialog1" class="stop-scrolling">
            <md-dialog-title><h5>Solicitud de Empleo</h5></md-dialog-title>
            <md-dialog-content>
                <div class="row" style="margin-bottom: 0px">
                    <form class="col s12" @submit.prevent="sendEmpleo">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="input-field  col s6">
                            <input type="text"  required>
                            <label for="first_name"></label>
                            </div>
                            <div class="input-field col s6">
                            <input id="email" type="email" required>
                            <label for="email"></label>
                            </div>
                        </div>
                            <md-button class="btn btn-modal red" @click.native="closeDialog('dialog1')">{{$t('modal-cancel')}}</md-button>
                            <md-button type="submit" class="btn btn-modal green ">{{$t('modal-submit')}}</md-button>
                    </form>
                </div>
            </md-dialog-content>
        </md-dialog>
        <md-button class="md-primary md-raised" id="custom" @click.native="openDialog('dialog1')">Enviar Resumen</md-button>
        <div style="background:blue;"> <vue-toast ref='toast'></vue-toast> </div>
    </div>
</template>
<script>
import 'vue-toast/dist/vue-toast.min.css'
import VueToast from 'vue-toast'
export default {
    components: { VueToast },
      data(){
        return{
            
        }
    },
    methods: {
            openDialog(ref) {
                this.$refs[ref].open();
                $('body').addClass('stop-scrolling');
            },
            closeDialog(ref) {
                this.$refs[ref].close();
                $('body').removeClass('stop-scrolling')
            },
            onOpen() {
            console.log('Opened');
            },
            onClose(type) {
            console.log('Closed', type);
            },
            sendEmpleo(){
                //local routes.services
                //'http://192.168.60.136/ipsolutions/public/servicio'
                axios.post(routes.services, this.servicio)
                .then(response=>{
                    console.log(response.data);
                    const toast = this.$refs.toast
                    toast.showToast('Mensaje Enviado Exitosamente, puedes verificar en tu correo los datos suministrados');
                    this.servicio.nombre="";
                    this.servicio.telefono="";
                    this.servicio.correo="";
                    this.servicio.direccion="";
                    this.servicio.mensaje="";
                    this.servicio.seleccionPlan="";
                })
                .catch(error=>{
                    console.log(error.response);
                    this.errors=error.response.data;
                });
                this.closeDialog('dialog1')
             },
         
        },

}
</script>
<style>

</style>