<template>
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="panel panel-default">
                    <div class="panel-heading">Corriendo</div>

                    <div class="panel-body">
                       Soy un component de VUE creado por {{name}} 
                        
                        <br>    
                       <a href="" class="btn "> probando</a>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        data(){
            return{
                name:'jhoysner',
            }
        }
    }
</script>
