<template>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col s6">
                <center>
                <img src="images/support.png" alt="">
                <h2 class="feature-title"><b>{{ $t('features-soporte') }}</b> </h2>
                <p>{{ $t('features-soporte-detalle') }}</p>
                </center>
            </div>
            <div class="col s6">
                <h2 class="feature-title"><b>{{ $t('features-internet') }}</b> {{ $t('features-velocidad') }}</h2>
                <p>{{$t('features-service-internet')}}</p>
                <img src="images/cohe.png" alt="">
            </div>
        </div>     
    </div>
</template>
<script>
    export default {
        data: function() {
            return {
                locale: 'es', 
             }
         }
    }

</script>

<style>
    .feature-title{
        font-size:50px;
        text-align:center;
    }
</style>