<template>
    <div>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l2 offset-l2 s12">
                <h4 class="white-text">{{$t('footer-servicio')}}</h4>
                  <ul style="margin-left:1em">
                    <li><a href="#!" style="color:white !important"><i class="fa fa-check-square fa-1x" aria-hidden="true"></i> Internet</a></li>
                    <li><a href="#!" style="color:white !important"><i class="fa fa-check-square fa-1x" aria-hidden="true"></i>  Hostgin</a></li>
                    <li><a href="#!" style="color:white !important"><i class="fa fa-check-square fa-1x" aria-hidden="true"></i>  Voip</a></li>
                  </ul>
              </div>
              <div class="col l3 offset-l1 s12 ">
                 <h4 class="white-text">{{$t('footer-siguenos')}}</h4>
                  <ul style="margin-left:1em">
                    <li><a href="#!" style="color:white !important"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>  Facebook </a></li>
                    <li><a href="#!" style="color:white !important"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>  Twitter</a></li>
                  </ul>
              </div>
              <div class="col l4 s12">
                <h4 class="white-text">{{$t('footer-contactanos')}}</h4>
                <ul style="margin-left:1em">
                  <li><a href="#!" style="color:white !important"><i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i> info@ip-solutions.us </a></li>
                  <li><a href="#!" style="color:white !important"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> (787) 296-8300</a></li>
                  <li><a href="#!" style="color:white !important">IP Solutions, Inc. </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
               <center class="copy"> © 2014 www.ip-solutions.us. {{$t('footer-copy')}}</center>
            </div>
          </div>
        </footer>
    </div>
</template>
<script>
</script>
<style lang="css">
.page-footer{
    background-color: black;
}
.copy{
    font-weight:bold;
    color:white;
}
.footer-copyright{
    background-color:grey !important;
}

</style>