<template>
	<div>

		<md-sidenav class="md-left" ref="leftSidenav" @open="open('Left')" @close="close('Left')" style="z-index: 3000;" >

		 <ul style="margin-top: 5em;padding:1em;">
		  	<li>
			  	<div class="userView">
			      	<a href="#!user"><img :src="routes.recurse+'/images/logo-black.png'" width="60%" style="margin-bottom:2em;margin-top:-4em;"></a><br>
			       	<a href="#!email"><span class="black-text email"><b>Phone: </b>+51-(4141234565)</span></a>
			    </div>
		    </li>
		    <li @click="changeProduct(0)"><a href="#!"><i class="material-icons">language</i> Internet</a></li>
		    <li @click="changeProduct(1)"><a href="#!"><i class="material-icons">cloud</i> Hosting</a></li>
		    <li @click="changeProduct(2)"><a href="#!"><i class="material-icons">phone</i> Voip</a></li>
		    <li @click="changeProduct(3)"><a href="#!"><i class="material-icons">perm_identity</i> Area de clientes</a></li>
		  </ul>
		</md-sidenav>
  
		<div id="hide-sidenav" v-show='subSlideStatus' @click='hideSidenav()'></div>
			<div class="submenu" v-show="subSlideStatus" >
				<div class="row">
					<div v-for="value in listaLang[listaActual]" class="col m6 s6 item-container">
		            	<div class="s4">
		              		<span class="item-tittle"><strong><a :href="value.url">{{value.nombre}}</a></strong></span>
		               		<span class="description">{{value.contenido}}</span>
		               		<p>{{value.enlace}}</p>
		               		{{value.precio}}
		            	</div>
		            </div>
				</div>		    	
		    	<div>

		    		<img :src="routes.recurse+'/'+imgMenu[listaActual]" width="100%" border="none">
		    </div>
			</div>

		<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" style="display:none">menu</i></a>

			<nav style="height: 71px !important;">
			  	<div class="nav-wrapper nav-custom">
			     <a :href="routes.home" class="brand-logo"><img :src="routes.recurse+'images/logo-black.png'" alt="" width="50%" style="margin-left:2em;"></a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down" >

					       <li ></li>
					       <li @click="displayMenu(0)"><a href="#">{{ $t('menu-servicio') }}</a></li>
					       <li ><a :href="routes.about">{{ $t('menu-nosotros') }}</a></li>
					       <li ><a :href="routes.suport">{{ $t('menu-soporte') }}</a></li>
					       <li ><a :href="routes.job">{{ $t('menu-empleo') }}</a></li>
						   <li ><a href="/es"><img :src="routes.recurse+'images/spain.png'" alt=""> ES </a></li>
						   <li ><a href="/en"><img :src="routes.recurse+'/images/united-states.png'" alt="" > EN</a></li>
				      </ul>
			   </div>
			</nav>
	</div>
	
</template>

<script>

	import VueMaterial from 'vue-material'
	import 'vue-material/dist/vue-material.css'
	import 'vue-material/dist/vue-material.js'

	import 'vue-material/dist/components/mdSidenav/'
	import mdSidenav from 'vue-material/dist/components/mdSidenav/'
	
	Vue.use(VueMaterial)
	Vue.use(mdSidenav)
	
	import { EventBus } from '../event-bus.js'
	export default {	
        data(){
            return{
				    listaes : [
		                	[{ 	
		                		nombre: 'Internet Residencial',
		                        precio: 'desde $19.95',
		                        contenido: 'Un servicio pensado para ti y tu hogar y un precio accesible',
		                        url:  routes.internet,    
			                },
					      	{ 	       
					      		nombre: 'Internet Comercial',
		                        precio: 'desde $59.95',
		                        contenido: 'El servicio que tu empresa o negocio amerita para sus operaciones.',
		                        url: routes.internet,
					      	},
					      	{ 
					      		nombre: 'Internet Dedicado',
			                    precio: 'LLAMANOS',
			                    contenido: 'Internet a una mayor velocidad y tasa de transferencia de datos.',
		                        url: routes.internet,
			                            
					      	}],
					      	[{
	                            nombre: 'Hosting Basico',
	                            precio: '$19.95',
	                            contenido: 'Te ofrecemos un plan basico con el cual puedas colocar tu empresa en linea a un como precio.',
	                            url: 'http://192.168.60.136/hosting/'     
	                        },
	                        {
	                            nombre: 'Hosting Profesional',
	                            precio: '$29.95',
	                            contenido: 'Ofrecemos un servicio dedicado para uso profesional , donde podras solventar tus necesidadades.',
	                            url: 'http://192.168.60.136/hosting/'     
	                        },
	                        {
	                            nombre: 'Hosting Coorporativo',
	                            precio: '$49.95',
	                            contenido: 'Plan dedicado para empresas o compañias, donde brindamos un servicio completo para el funcionamiento de las mismas.',
	                            url: 'http://192.168.60.136/hosting/'     
	                        }
	                        ],
	                        [{
	                            nombre: 'Voip Residencial',
	                            precio: '$24.95',
	                            contenido: 'Te ofrecemos un plan residencial con el cual puedes reducir su factura telefónica por un promedio de 50% cada mes.',
	            
	                            url: routes.voip,   
	                        },
	                        {
	                            nombre: 'Voip Medido',
	                            precio: '$9.95',
	                            contenido: 'Ofrecemos un servicio dedicado para uso profesional , donde podras solventar tus necesidadades y conectarte como tu empresa lo vea conveniente.',
	                            url: routes.voip,  
	                        },
	                        {
	                            nombre: 'Voip Comercial',
	                            precio: '$44.95 ',
	                            contenido: 'Plan Comercial para empresas o compañias, donde brindamos un servicio completo para la comunicacion de su empresa a un bajo costo.',
	                            url: routes.voip,
	                        }]
              			],
                listaen : [
		                	[{ 	
		                		nombre: 'Residential Internet',
		                        precio: 'From $19.95',
		                        contenido: 'A service designed for you and your home and an affordable price.',
		                        url: routes.internet,    
			                },
					      	{ 	       
					      		nombre: 'Commercial Internet',
		                        precio: 'From $59.95',
		                        contenido: 'The service your company or business merits for your operations.',
		                        url: routes.internet,
					      	},
					      	{ 
					      		nombre: 'Dedicated Internet ',
			                    precio: 'CALL US',
			                    contenido: 'Internet at a higher speed and data transfer rate.',
		                        url: routes.internet,
			                            
					      	}],
					      	[{
	                            nombre: 'Basic Hosting',
	                            precio: '$19.95',
	                            contenido: 'We offer you a basic plan with which you can place your company online at a price.',
	                            url: 'http://192.168.60.136/hosting/'     
	                        },
	                        {
	                            nombre: 'Professional Hosting',
	                            precio: '$29.95',
	                            contenido: 'We offer a dedicated service for professional use, where you can solve your needs.',
	                            url: 'http://192.168.60.136/hosting/'     
	                        },
	                        {
	                            nombre: 'Corporate Hosting',
	                            precio: '$49.95',
	                            contenido: 'Plan dedicated to companies or companies, where we provide a complete service for the operation of the same.',
	                            url: 'http://192.168.60.136/hosting/'     
	                        }
	                        ],
	                        [{
	                            nombre: 'Voip Residential',
	                            precio: '$24.95',
	                            contenido: 'We offer you a residential plan with which you can reduce your telephone bill by an average of 50% each month.',
	                            url: routes.voip,   
	                        },
	                        {
	                            nombre: 'Voip Measured',
	                            precio: '$9.95',
	                            contenido: 'We offer a dedicated service for professional use, where you can solve your needs and connect as your company sees fit.',
	                            url: routes.voip,  
	                        },
	                        {
	                            nombre: 'Voip Commercial',
	                            precio: '$44.95 ',
	                            contenido: 'Commercial Plan for companies or companies, where we provide a complete service for the communication of your company at a low cost.',
	                            url: routes.voip,
	                        }]
              			],
	            imgMenu : ['images/fondo1.png','images/fondo3.png','images/fondo2.png','images/fondo4.png'],
	            subSlideStatus: '', 
	            valor: '', 
	            listaActual: 0 , 
	            ocultar: false,
				routes: window.routes,
				idioma : this.$root.locale,

            }
        },
        methods:{
			changeProduct : function(param){
				this.listaActual = param;
			},

			displayMenu : function(param)
		  	{	
		  		this.toggleLeftSidenav();
		  		this.subSlideStatus = true;
				this.changeProduct(param);
			
		  	},
        	hideSidenav : function(){
	    		this.subSlideStatus = false;
			},

		  	toggleLeftSidenav() {
		      this.$refs.leftSidenav.toggle();
		    },

		    open(ref) {
		    },
		    close(ref) {
		    	this.subSlideStatus = false;
		    }
        },
		computed:{
            listaLang: function() {
                if (this.$root.locale == 'es')
                    {
                     return this.listaes;
                    }
                else{
                     return this.listaen;
                 }   
            }
            
        },
		created(){
			EventBus.$on("añadir" , (valor) => {
				this.displayMenu(valor)
			});
		},
    }
</script>

<style>
.nav-custom{

	background-color: white !important;

}
li a {
    color: black !important;
    font-weight: bold !important;
    font-size: 1em;
}

</style>