<template>
    <div>
        <md-dialog :md-click-outside-to-close="false" md-open-from="#custom" md-close-to="#custom" ref="dialog1" class="stop-scrolling">
            <md-dialog-title>{{$t('modal-title')}}</md-dialog-title>

            <md-dialog-content>
                <div class="row" style="margin-bottom: 0px">
                    <form class="col s12" @submit.prevent="sendService">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="input-field  col s6">
                            <input type="text" v-model="servicio.nombre" required>
                            <label for="first_name">{{$t('modal-fullname')}}</label>
                            </div>
                            <div class="input-field col s6">
                            <input id="email" type="email"  v-model="servicio.correo" required>
                            <label for="email">{{$t('modal-correo')}}</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px">
                            <div class="input-field col s6">
                            <input id="telefono" type="number"  v-model="servicio.telefono" required>
                            <label for="Telefono">{{$t('modal-phone')}}</label>
                            </div>
                            <div class="input-field col s6">
                            <input id="Direccion" type="text"  v-model="servicio.direccion" required>
                            <label for="Direccion">{{$t('modal-address')}}</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px">
                            <div class="input-field col s12">
                            <textarea id="textarea1" v-model="servicio.mensaje" class="materialize-textarea"></textarea>
                            <label for="textarea1">{{$t('modal-message')}}</label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px">
                            <div class="col s6">
                                <md-input-container>
                                    <label for="servicio">{{$t('modal-service')}}</label>
                                    <md-select v-model="servicio.seleccionServicio" v-on:change="cargarPlan()" required>
                                        <div v-if="internet">
                                            <md-option value="internet residencial">INTERNET RESIDENCIAL</md-option>
                                            <md-option value="internet comercial">INTERNET COMERCIAL</md-option>
                                            <md-option value="internet dedicado">INTERNET DEDICADO</md-option>
                                        </div>
                                        <div v-if="voip">
                                            <md-option value="voip residencial">VOIP RESIDENCIAL</md-option>
                                            <md-option value="voip comercial">VOIP COMERCIAL</md-option>
                                            <md-option value="voip measured">VOIP MEDIDO </md-option>
                                            <md-option value="voip regular">VOIP REGULAR</md-option>
                                        </div>
                                    </md-select>
                                </md-input-container>
                            
                            </div>
                            <div class="col s6" v-if="internet">
                                <md-input-container>
                                    <label for="servicio">Plane</label>
                                    <md-select  v-model="servicio.seleccionPlan">
                                    <md-option v-for="plan in plans" :value="plan">{{plan}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>

                            <md-button class="btn btn-modal red" @click.native="closeDialog('dialog1')">{{$t('modal-cancel')}}</md-button>
                            <md-button type="submit" class="btn btn-modal green ">{{$t('modal-submit')}}</md-button>
                    </form>
                </div>
            </md-dialog-content>
        </md-dialog>
        <md-button class="md-primary md-raised" id="custom" @click.native="openDialog('dialog1')">{{$t('modal-buttom')}}</md-button>
        <div style="background:blue;"> <vue-toast ref='toast'></vue-toast> </div>
    </div>
</template>
<script>
import 'vue-toast/dist/vue-toast.min.css'
import VueToast from 'vue-toast'
export default {
    props: ['tiposervicio'],
    components: { VueToast },

    data(){
        return{
          servicio:{
                nombre:'',
                telefono:'',
                correo:'',
                direccion:'',
                mensaje:'',
                seleccionServicio: this.tiposervicio,
                seleccionPlan: '',
            },
            plans: '',
            position: 'botton left',
            serve:'',
            internet: false,
            voip: false,
        }    
    },
    mounted(){
        if(this.tiposervicio == 'internet residencial' || this.tiposervicio == 'internet comercial' || this.tiposervicio == 'internet dedicado' ){
            this.internet = true
        }
        if(this.tiposervicio == 'voip residencial' || this.tiposervicio == 'voip measured' || this.tiposervicio == 'voip comercial' || this.tiposervicio == 'voip regular'  ){
            this.voip =  true
         }
    },
    methods: {
            openDialog(ref) {
                this.$refs[ref].open();
                $('body').addClass('stop-scrolling');
                this.cargarPlan();
            },
            closeDialog(ref) {
                this.$refs[ref].close();
                $('body').removeClass('stop-scrolling')
            },
            onOpen() {
            console.log('Opened');
            },
            onClose(type) {
            console.log('Closed', type);
            },
            sendService(){
                //local routes.services
                //'http://192.168.60.136/ipsolutions/public/servicio'
                axios.post(routes.services, this.servicio)
                .then(response=>{
                    console.log(response.data);
                    const toast = this.$refs.toast
                    toast.showToast('Mensaje Enviado Exitosamente, puedes verificar en tu correo los datos suministrados');
                    this.servicio.nombre="";
                    this.servicio.telefono="";
                    this.servicio.correo="";
                    this.servicio.direccion="";
                    this.servicio.mensaje="";
                    this.servicio.seleccionPlan="";
                })
                .catch(error=>{
                    console.log(error.response);
                    this.errors=error.response.data;
                });
                this.closeDialog('dialog1')
             },
            cargarPlan(){
                
                this.servicio.seleccionPlan = "";

                if(this.servicio.seleccionServicio == "internet residencial"){
                    this.plans = ['Residencial 1MB/1M','Residencial 3MB/1M','Residencial 5MB/1M']

                }
                if(this.servicio.seleccionServicio == "internet comercial"){
                    this.plans = ['Comercial 1MB/1M','Comercial 3MB/1M','Comercial 5MB/1M']

                }
                if(this.servicio.seleccionServicio == "internet dedicado"){
                    this.plans = ['Dedicado 1MB/1M','Dedicado 3MB/1M','Dedicado 5MB/1M']

                }
                if(this.servicio.seleccionServicio == "internet dedicado"){
                    this.plans = ['Dedicado 1MB/1M','Dedicado 3MB/1M','Dedicado 5MB/1M']

                }

            }
         
        },

}
</script>
<style>
    .md-theme-default.md-button:not([disabled]).md-primary:not(.md-icon-button) {
        color: white !important;
    }
    .md-dialog{
        width: 800px;
    }
    .md-option {
        background-color:white !important;
    }

    .btn-modal{
        color:white !important;
    }
    .stop-scrolling {
    height: 100%;
    overflow: hidden;
    }
    .vue-toast_message{
        background-color:green;
        border-radius: 1em;
    }
</style>