<template>
    <div class="partner">
         <center><h2 class="title-partner">{{$t('partner-title')}}</h2></center>
         <center><p class="subtitle-partner">{{$t('partner-title')}}</p></center>
         <div class="image-container">
            <center>
                <a href=""><img src="images/partner/cisco.png" alt=""></a>
                <a href=""><img src="images/partner/3cx.png" alt=""></a>
                <a href=""><img src="images/partner/gfi.png" alt=""></a>
                <a href=""><img src="images/partner/microsoft.png" alt=""></a>
                <a href=""><img src="images/partner/watch.png" alt=""></a>
                <a href=""><img src="images/partner/free-pbx.png" alt=""></a>
            </center>
         </div>
   
    </div>
</template>


<script>
 export default{
     
 }
</script>
<style>
    .partner{
        background-color: #333333;
        padding:2em;
    }
    .title-partner{
        color:white;
    }
    .subtitle-partner{
        margin-top:2em;
        margin-bottom:2em;
        color:white;
    }
    .image-container a{
        margin-left:0.5em;
        margin-bottom:2em;
    }
</style>