<template>
    <div id="services">
        <div class="row">
            <div class="col m3 s12" v-for="value in listaLang" style="margin-bottom: 0.5em">
                <md-card md-with-hover class="md-warn" style="height:280px">
                  <md-card-header>
                    <div class="md-title" style="color:red"><i class="material-icons medium" style="margin-right:0.2em">{{value.icon}}</i>  {{value.title}}</div>
                  </md-card-header>

                  <md-card-content style="color:black;">
                        {{value.content}}
                  </md-card-content>

                  <md-card-actions>
                    <div v-if="value.event">
                        <a class="btn white darken-2"  @click="ejecutar(0)" style="color:grey !important;position:absolute;bottom:15px;right:10px;">{{ $t('servicio-boton')}}</a>
                    </div>
                    <div v-else>
                        <a :href='check(value.link)' class="btn white darken-2"  style="color:grey !important;position:absolute;bottom:15px;right:10px;">{{ $t('servicio-boton')}}</a>
                    </div>
                  </md-card-actions>
                </md-card>
            </div>

        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js'
    export default {
        data(){
            return{
                idioma : this.$root.locale,
                listaes :[
                    {
                        title: 'SERVICIO',
                        content: 'Te ofrecemos variedad de servicios como lo son conexion a internet, web hosting y servicio voip. Los cuales poseen planes adaptados para tus necesidades.',
                        icon:  'subject',
                        event: 'yes',
                    },
                    {
                        title: 'SOPORTE',
                        content: 'Puedes comunicarte con nosotros a traves de los diferentes canales de informacion y compartirnos tus dudas o inquietudes y estaremos encantados de ayudarte.',
                        icon:  'settings',
                        link:  '/soporte',

                    },
                    {
                        title: 'E-BILL',
                        content: 'Crea un ticket compartiéndonos tu problema y estaremos dando seguimiento a tus situación mediante el sistema de control de averías.', 
                        icon:  'forum',
                        link: 'http://support.ip-solutions.us/',

                    },
                    {
                        title: 'ORDENAR',
                        content: 'Adquiere directamente cualquiera de nuestros productos, haz tu solicitud y envianos tus requerimientos estaremos a la espera para brindarte orientacion.',
                        icon:  'shop',
 
                    },
                ],
                listaen :[
                    {
                        title: 'SERVICE',
                        content: 'We offer a variety of services such as internet connection, web hosting and voip service. Which have plans adapted to your needs.',
                        icon:  'subject',
                        event: 'yes',
                    },
                    {
                        title: 'SUPPORT',
                        content: 'You can communicate with us through the different channels of information and share your doubts or concerns and we will be happy to help you.',
                        icon:  'settings',
                        link:  "soporte",

                    },
                    {
                        title: 'E-BILL',
                        content: 'Create a ticket sharing your problem and we will be tracking your situation through the fault control system.', 
                        icon:  'forum',
                        link: 'http://support.ip-solutions.us/',

                    },
                    {
                        title: 'ORDER',
                        content: 'Acquire directly any of our products, make your request and send us your requirements we will be waiting to give you guidance.',
                        icon:  'shop',
 
                    },
                ],
                valor: '',  
            }
        },
        methods: {
            ejecutar(valor){
                EventBus.$emit('añadir', valor);
            },
            check(value){
                if(value = 'soporte' ){
                    return  this.idioma+'/'+ value ;
                }
                return value;
            }
        },
        computed:{
            listaLang: function() {
                if (this.$root.locale == 'es')
                    {
                     return this.listaes;
                    }
                else{
                     return this.listaen;
                 }   
            }
            
        }

    }
</script>

<style lang="css">
    #services{
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .md-theme-default.md-card.md-warn {
        background-color: #f5f5f5 !important;
    }
    .color-btn{
       background-color: #077d3c; 
    }
     .color-btn a:hover{
       background-color: #077d3c; 
       text-decoration:none !important;
       font-size:1em;
    }
</style>

