 <template>
  <swiper class="hide-on-small-only":options="swiperOption" ref="mySwiper" style="width:100%;height:500px">
    <!-- slides -->
    <swiper-slide><img src="images/slider/bg1.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="images/slider/bg2.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="images/slider/bg4.jpg" width="100%"></swiper-slide>
    <swiper-slide><img src="images/slider/bg3.jpg" width="100%"></swiper-slide>
    <!-- Optional controls -->
    <div class="swiper-pagination"  slot="pagination"></div>

    <div class="swiper-scrollbar"   slot="scrollbar"></div>
  </swiper>
</template>


<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper'

  export default {
      components: {
      swiper,
      swiperSlide
  },
    data () {
      return {
        banners: [ '/1.jpg', '/2.jpg', '/3.jpg' ],
        swiperOption: {
          autoplay: 5000,
          initialSlide: 1,
          loop: true,
          pagination: '.swiper-pagination',
        }
      }
    }
  }
</script>